<form method="POST" class="cat-form">
        <h2>Register</h2>
        <label for="email">Email</label>
        <input name="email" type="text" id="email" value="{{user.email}}">
        <label for="password">Password</label>
        <input name="password" type="password" id="password">
        <label for="rePassword">Repeat Password</label>
        <input name="rePassword" type="password" id="rePassword">
        <button type="submit">Register</button>
</form>
<div class="login-register">
        <p>Have already an account? Go to</p> 
        <a href="/auth/login">Login</a>
</div>
