<form method="POST" class="cat-form">
        <h2>Register</h2>
        <label for="email">Email</label>
        <input name="email" type="text" id="email">
        <label for="password">Password</label>
        <input name="password" type="text" id="password">
        <label for="rePassword">Repeat Password</label>
        <input name="rePassword" type="text" id="rePassword">
        <button type="submit">Register</button>
</form>
