<form method="POST" class="cat-form">
            <h2>Add Cat Breed</h2>
            <label for="breed-name">Breed Name</label>
            <input name="breed" type="text" id="breed-name" value="{{newBreed.breed}}">
            <button type="submit">Add Breed</button>
        </form>